In [2]:
import mysql.connector

In [3]:
remote = mysql.connector.connect(
    host = "localhost",
    port = 3306,
    user = "hong",
    password = "unique1117!",
    database = "amrbase" 
)

In [4]:
cursor.execute("SELECT * from dbtable")

In [10]:
db = mysql.connector.connect(
    host = "localhost",
    port = 3306,
    user = "hong",
    password = "unique1117!",
    database = "amrbase" 
)

cursor = db.cursor()

query = "SELECT * FROM dbtable"

# values = ("human", 20231231, 6)

cursor.execute(query)

results = cursor.fetchall()

for row in results:
    print(row)

db.commit()

cursor.close()
db.close()

('bear', 20231011, 3)
('deer', 20231115, 1)
('deer', 20231115, 1)

In [ ]:
remote = mysql.connector.connect(
    host = "localhost",
    port = 3306,
    user = "hong",
    password = "unique1117!",
    database = "amrbase" 
)

In [ ]:
db = mysql.connector.connect(
    host = "localhost",
    port = 3306,
    user = "hong",
    password = "unique1117!",
    database = "amrbase" 
)

cursor = db.cursor()

query = "INSERT INTO dbtable (name, time, number) VALUES (%s, %s, %s)"

values = ("deer", 20231115, 1)

cursor.execute(query, values)

db.commit()